body {
  background-color: #000000;
}

.timer {
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.timer > .current-time {
  font-size: 96px;
}

.timer > .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.timer > .buttons > button {
  background-color: #0033cc;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #ffffff;
  font-size: 32px;
  width: 300px;
}

.timer > .buttons > button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 376px) {
  .timer {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
  }

  .timer > .current-time {
    font-size: 48px;
  }

  .timer > .buttons {
    display: block;
  }

  .timer > .buttons > button {
    font-size: 22px;
    margin-top: 10px;
    width: 100%;
  }
}
